/* fondo oscuro transparente */
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* caja principal */
.alert-box {
  width: 320px;
  padding: 26px 22px;
  border-radius: 20px;
  background: #eceaea;
  text-align: center;

  box-shadow:
    10px 10px 20px rgba(180, 175, 175, 0.7),
    -8px -8px 16px rgba(255, 255, 255, 0.9);

  animation: fadeInScale 0.25s ease;
}

/* animación suave */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* icono */
.alert-icon {
  font-size: 2.2rem;
  margin-bottom: 12px;
}

/* título */
.alert-box h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #4b403b;
  margin: 8px 0 6px;
}

/* mensaje */
.alert-box p {
  font-size: 0.9rem;
  color: #4b403b;
  margin-bottom: 18px;
}

/* tipos de alerta */
.alert-box.success {
  border-top: 6px solid #7ed957;
}

.alert-box.error {
  border-top: 6px solid #e45b5b;
}

.alert-box.warning {
  border-top: 6px solid #f0ad4e;
}

/* botón dentro del alert */
.alert-box .custom-btn {
  width: 100%;
  margin-top: 10px;
}