@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --bg-main: #eceaea;
  --panel-left: #f3f1f1;
  --panel-right: #d6ca98;
  --text-main: #4b403b;
  --input-bg: #eceaea;
  --accent: #ddc87e;
  --accent-hover: #d3bc6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  font-family: "Montserrat", sans-serif;
}